/* Overlay Background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Box */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    height: 50vh;
  }
  
  .modal-content > h2{
    margin-bottom: 70px;
  }

  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  /* Modal Options */
  .modal-option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000066;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modal-option:hover {
    background-color: #333399;
  }
  